---
title: Live Stream
excerpt: Tune-in to our Live Stream!
---
<div id="live">
    <section id="stream"> 
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCIP244iNzbn4iEkDOgczvcQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <section id="chat">
        <div id="chat-slackview"></div>
    </section>
</div>
<div style="padding:16px">
    <div><span class="cta"><a href="/coc">Please Read our Code of Conduct</a></span></div>
    <h2>Agenda</h2>
    <ul>
        <li>17:00 - Greetings & Kick-off</li>
        <li>17:15 - Brian Leroux: Intro to Deno</li>
        <li>17:30 - Q&A</li>
        <li>17:45 - James Quick: Static Sites and Serverless Functions - A Dynamic Combination</li>
        <li>18:00 - Q&A</li>
        <li>18:15 - Socialize & Network on Remo or Rambly (links sent via email)</li>
        <li>19:30 - End</li>
    </ul>
    
    
</div>
