/* top-level tag styles */

html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 200;
}

body {
    font-family: canada-type-gibson, sans-serif;
    font-size: 1.125em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ibm-plex-mono, sans-serif;
    margin: 32px 0 16px 0;
    color: #112378;
}

h1, h2 {
    font-weight: 800
}

h3, h4, h5, h6 {
    font-weight: 700
}

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 24px; }

img {
    max-height: 100%;
    max-width: 100%;
}

p {
    line-height: 1.5;
    margin: 0 0 10px 0;
}

blockquote {
	margin: 0;
	border-left: 2px solid #aaa;
	padding-left: 18px;
}

/* header styles */

header {
    z-index: 2;
}

header nav {
    padding: 8px 0;
    text-align: center;
    background-color: #112378;
}

header>section.alert {
    background-color: #FFD007;
    padding: 8px;
    font-family: mono45-headline, monospace;
    font-weight: 500;
    color: #112378;
    text-align: center;
    font-size: 24px;
}

nav a, a.buy {
    display: inline-block;
    margin: 4px;
    font-family: mono45-headline, monospace;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 5px;
}

nav a, nav a:visited  {
    color: #17C37B;
}

nav a:hover  {
    color: #fff;
}

a.buy, a.buy:visited {
    background: #FFD007 0% 0% no-repeat padding-box;
    color: #112378;
    padding: 16px;
}

a.buy:hover {
    background: #fff;
    color: #112378;
}

/* footer styles */

footer {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 32px;
}

#when-where h2 {
    color: #17C37B;
    font-size: 32px;
}

footer h2 {
    font-size: 16px;
    font-family: mono45-headline, monospace;
    font-weight: 500;
    color: #fff;
}

footer ul {
	padding: 0;
}

footer li {
    list-style: none;
    margin-bottom: 8px;
}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}

/* responsive Youtube embed styles */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
	
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* layout styles */

#root {

}

#content {
    background-color: #fff;
}

footer {
   
}

/* page/content styles */

#not-found {
    font-family: ibm-plex-mono, sans-serif;
    color: #17C37B;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
}

#page-title {
    background-color: #17C37B;
}

#page-title div {
    padding: 16px;
}

#page-title div h1 {
    font-family: mono45-headline, monospace;
    font-weight: 500;
    color: #fff;
    margin: 8px 0;
}

#page-body {
    padding: 16px;
}

#page li {
    padding: 4px;
}

table {
    margin: 16px 0;
}

th, td {
    padding: 8px;
}

#root svg.svg-inline--fa {
    width: 25px;
}

div.cta {
    font-family: mono45-headline, monospace;
	font-size: 32px;
    padding: 16px 44px;
    text-align: center;
	background-color: #0033FF;
    border: 4px solid #fff;
    margin: 16px 0;
}

span.cta {
    font-family: mono45-headline, monospace;
	font-size: 18px;
    padding: 8px;
	background-color: #0033FF;
    /*border: 2px solid #fff;*/
}

.cta a, .cta a:visited {
    color: #e6e8f5;
  	text-decoration: none;
}

.cta a:hover {
	text-decoration: underline;
}


.highlight {
    border-radius: 4px;
    font-weight: 500;
}

span.highlight {
    padding: 2px;
}

div.highlight {
    padding: 8px;
    margin: 4px 0 4px 0;
}

.warning {
    background-color: rgb(255, 228, 160);
}

.error {
    background-color: #f9ecec;
    color: #e57575;
}


.small {
    font-size: 0.8em;
}

.sponsor-includes {
    background-color: #ddd;
}

.sponsor-marketing, .info {
    background-color: #b1ecb5;
}

.sponsor-hiring {
    background-color: #e1bae1
}

#sponsors-platinum a, #sponsors-gold a, #sponsors-silver a/*, #sponsors-community a*/ {
    display: block;
}  

#sponsors-platinum img, #sponsors-gold img, #sponsors-silver img {
    width: 100%;
}

.sponsor-community {
    background-color: #b3cfff;
}

#sponsors section {
    background-color: #fff;
    padding: 16px;
}

#sponsors section a {
    padding: 16px;
}

table {
    width: 100%;
}

table th { 
    text-align:left;
}

tr.sold-out td {
    color: #aaa;
}

tr.on-sale {
    background-color: rgb(255, 228, 160);
}

/* Landing page */

#landing h2 {
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-size: 48px;
    margin: 0 0 32px 0;
}

#landing h3 { 
    font-size: 32px; 
    color: #112378;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
}

#landing h4 {
    font-size: 28px; 
    color: #fff;
    font-weight: 400;
    margin-top: 4px;
}

#landing .cta {
    margin: 32px 0 0 0;
}    

#landing>div  {
    padding: 32px 16px;
}

#hero-logo {
    margin-bottom: 24px;
}

#hero .buy, #hero .cta {
    font-size: 40px;
}

#hero .buy {
    margin-top: 64px;
}

#hero .cta {
	background-color: #112378;
    color: #17C37B;
    border: 4px solid #17C37B;
}

#hero .cta a {
    color: #17C37B;
}

#hero, #attend, #workshops, #workshops h2, #sponsors, #sponsors h2 {
    background-color: #17C37B;
    color: #fff;
}

#schedule, #schedule h2 {
    color: #000;
    background-color: #fff;
}

footer {
    color:  #fff;
    background-color: #112378;
}

/* Carousel widget on sponsorship page */

#carousel {
    position:relative;
    height:160px;
    width:300px;
    margin:0 auto;
    
}

#carousel img {
    position:absolute;
    left:0;
}
  
@keyframes fadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

#carousel img {
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}
  
#carousel img:nth-of-type(1) {
    animation-delay: 12s;
}
#carousel img:nth-of-type(2) {
    animation-delay: 8s;
}
#carousel img:nth-of-type(3) {
    animation-delay: 4s;
}
#carousel img:nth-of-type(4) {
    animation-delay: 0;
}

/*  speaker list components  */

#speaker-list, #organizer-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
  	justify-content: center;
}

#speaker-list .speaker, #organizer-list .organizer {
	width: 250px;
	display:flex;
	flex-direction: column;
	margin-right: 8px;
	margin-bottom: 16px;
}

.speaker-photo, .organizer-photo, #social-image {
    background-size: cover;
    background-blend-mode:screen;
}

#speaker-list .speaker .speaker-photo, #organizer-list .organizer .organizer-photo {
    height: 250px;
    width: 250px;
}

#speaker .speaker-photo {
    height: 300px;
    width: 300px;
}

#speaker-list .speaker .speaker-photo:hover {
    background-color: #112378;
    background-blend-mode: screen;
}

#speaker-list .speaker a, #speaker-list .speaker img, #speaker-list .speaker .no-image {
	height: 250px;
	width: 250px;
}

#speaker-list .speaker-info, #organizer-list .organizer-info {
    flex: 1;
    text-align: left;
	padding: 8px;
	display: flex;
    flex-direction: column;
    color: #112378;
}

#speaker-list .speaker:hover .speaker-info, #speaker-list .speaker:hover .speaker-name, #speaker-list .speaker:hover .speaker-name a, #speaker-list .speaker:hover .speaker-misc {
	color: #0033FF;
}

#speaker-list .speaker img:hover {
    background-color: #112378;
    background-blend-mode: screen;
}

#speaker-list .speaker-name, #organizer-list .organizer-name {
    font-family: mono45-headline, monospace;
    font-weight: 300;
    line-height: 1em;
    font-size: 28px;
    margin: 0;
	color: #112378;
	flex-grow: 1
}

.speaker-name a, .speaker-name a:visited {
    color: #112378;
    text-decoration: none;
}

#speaker-list .speaker-misc, #organizer-list .organizer-misc {
    font-size: 16px;
	color: #112378;
}

#topic-list {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
    margin: 8px;
    padding: 8px;
}

.js-topic {
    display: inline-block;
    background-color:#0033FF;
    color: #fff;
    text-decoration: none;
    margin:3px;
    padding:8px;
}

#js-topics-clear {
    background-color:#fff;
    color: #0033FF;
    border: 1px solid #0033FF;
}

a.js-topic:hover {
    text-decoration: underline;
}

.topic-selected {
    background-color: #FFD007;
    color: #0033FF;
}

#speaker h3 {
    margin: 8px 0 8px 0;
}

#speaker .speaker-photo {
	width: 300px;
	margin-right: 16px;
}

#speaker .abstract {
	margin: 16px 0 16px 0;
}

.speaker-links > div {
    margin-bottom: 8px;
}

#attend {
    text-align: left;
}

#karaoke {
    margin-bottom: 18px;
}

#karaoke img {
    height: 100%;
    width: 100%;
}

#karaoke .headline {
    font: canada-type-gibson, sans-serif;
    font-size: 32px;
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 24px;
}

#why .benefits {
    font-size: 22px;
}

#why .benefits li {
    list-style: none;
    margin: 0 0 16px 0;
}

#why .benefits li svg {
    padding-right: 8px;
}

#why .benefits ul li ul {
    margin: 24px 0 0 24px;
}

/* Social sharing styles */

#social-share {
    display: flex;
}

#social-image {
    height: 628px;
	width: 628px;
	margin-right: 0;
}

#social-info {
    width: 574px;
    border: 10px solid #17C37B;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

#social-header {
    font-family: mono45-headline, monospace;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 80px;
    color: #112378;
    margin-bottom: 32px;
}

#social-excerpt {
    font-family: canada-type-gibson, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #112378;
    flex: 1;
}

#social-footer {
    display: flex;
    align-items: flex-end;
}

#social-event {
    flex: 1;
    font-family: mono45-headline, monospace;
    font-size: 32px;
    text-transform: uppercase;
    color: #17C37B;
}

#attendees-pics {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#attendees a {
    display: block;
    margin: 8px;
}

#attendees img {
    height: 100px;
}

/*#live iframe {
    width: 100%;
}*/

#live-more {
    padding:16px;
}

#live-more ul {
    font-family: monospace;
    font-size: 1.25em;
}

#live-more li {
    margin: 8px;
}

/* Slackview styles */

#chat-slackview {
    display: none;
}

.sv-message {
    margin-bottom: 4px;
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
}

.sv-img-wrapper {

}

.sv-name {

}

.sv-timestamp {

}

.sv-body {

}

@media only screen and (min-width: 768px) {

    #root {
        display: grid;
        min-height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr auto;
    }

    header {
        position: sticky;
        /*width: 100%;*/
        top: 0;
    }

    .narrow {
        margin: 0 auto;
        width: 40%;
    }

    .wide {
        margin: 0 auto;
        width: 70%;
    }

    img#hero-badge {
        width: 392px;
    }

    #page-body, #page-title div {
        width: 50%;
        margin: 0 auto;
    }

    #page {
        margin-bottom: 64px;
    }

    nav>div {
        display: flex;
        align-items: center;
    }

    /* this class makes me want to puke :( */
    nav .spacer {
        margin-left: 16px;
    }

    .push {
        margin-left: auto;
    }

    table {
        font-size: 1em;
    }

    .cta {
        display: inline-block;
        text-align: left;
    }

    .highlight {
        padding: 4px;
    }

    #carousel {
        height:321px;
        width:600px;
    }

    footer div {
        display: flex;
    }

    #when-where, #stay-connected, #past-events {
        text-align: left;
    }

    #when-where {
        flex: 1;
    }

    footer #stay-connected {
        margin-right: 40px;
    }

    #landing {
        text-align: center;
    }
    
    #landing .container {
        display: flex;
    }

    #landing .left {
        width: 60%;
        margin-right: 16px;
    }

    #landing .right {
        text-align: left;
        flex: 1;
    }

    #hero-logo {
        /*width: 670px;
        margin: 0 auto;*/
        text-align:center;
    }

    #hero-logo img {
        width: 640px;
    }

    #hero-images {
        display: flex;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
    }

    #hero-logo img {
        min-height: 50px;
    }

    #hero-images img {
        min-height: 300px;
    }

    #attend .container {
        width: 80vw;
        margin: 0 auto;
        display: flex;
    }

    #karaoke {
        width: 471px;
        margin-right: 36px;
    }

    #why {
        flex: 1;
    }

    #why img {
        width: 600px;
    }

    .speaker-info, .speaker-links {
        display: flex;
    }

    .speaker-links > div {
        margin-right: 8px;
    }
    
    #attend {
        display: flex;
    }

    #sponsor-container {
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 4fr 3fr 2fr;
        grid-gap: 8px;
        margin-bottom: 8px;
    }

	#sponsor-container section {
        display: flex;
        flex-direction: column;
		align-items: center;
		justify-content: center;
    }
    
    /*#sponsors section, #sponsors section img {
        border: 1px solid red;
    }*/
    
    section#sponsors-platinum {
        padding: 100px;
    }
    
    #sponsors-platinum a, #sponsors-gold a, #sponsors-silver a/*, #sponsors-community a*/ {
        width: 100%;
    }  

    /*#sponsors-community {
        display: flex;
		align-items: center;
        justify-content: center;
        padding: 16px;
        height: 100px;
    }*/
    
    #sponsors-community img {
        height: 60px;
    }

    #live {
        display: flex;
        /*display: table;
        width: 100%;*/
    }

    #live #stream {
        /*display: table-cell;*/
        width: 65%;
        margin: 8px 0 8px 8px;
    }

    #live #chat {
        /*display: table-cell;
        width: 35%;*/
        flex: 1;
        padding: 8px;
        margin: 8px 8px 8px 0;
        border: 4px solid #17C37B;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #chat-slackview {
        display: block;
        padding: 8px;
        height: 60vh;
        overflow-y: scroll;
    }
}