/* top-level tag styles */

html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 200;
}

body {
    font-family: canada-type-gibson, sans-serif;
    font-size: 1.125em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ibm-plex-mono, sans-serif;
    margin: 32px 0 16px 0;
    color: #112378;
}

h1, h2 {
    font-weight: 800
}

h3, h4, h5, h6 {
    font-weight: 700
}

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 24px; }

img {
    max-width: 100%;
}

p {
    line-height: 1.5;
    margin: 0 0 10px 0;
}

/* header styles */

header {
    padding: 32px 0;
    text-align: center;
    background-color: #17C37B;
}

nav a, a.buy {
    display: inline-block;
    margin: 4px;
    font-family: mono45-headline, monospace;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 5px;
}

nav a, nav a:visited  {
    color: #112378;
}

a.buy, a.buy:visited {
    background: #FFD007 0% 0% no-repeat padding-box;
    color: #112378;
    padding: 16px;
}

/* footer styles */

footer {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 32px;
}

#when-where h2 {
    color: #17C37B;
    font-size: 32px;
}

footer h2 {
    font-size: 16px;
    font-family: mono45-headline, monospace;
    font-weight: 500;
    color: #fff;
}

footer ul {
	padding: 0;
}

footer li {
    list-style: none;
    margin-bottom: 8px;
}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}

/* responsive Youtube embed styles */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
	
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* layout styles */

#root {

}

#content {
    background-color: #fff;
}

footer {
   
}

/* page/content styles */

#page-title {
    background-color: #112378;
}

#page-title div {
    padding: 16px;
}

#page-title div h1 {
    font-family: mono45-headline, monospace;
    font-weight: 500;
    color: #fff;
    margin: 8px 0;
}

#page-body {
    padding: 16px;
}

#page li {
    padding: 4px;
}

table {
    margin: 16px 0;
}

th, td {
    padding: 8px;
}

#root svg.svg-inline--fa {
    width: 25px;
}

div.cta {
    font-family: mono45-headline, monospace;
	font-size: 32px;
    padding: 16px 44px;
    text-align: center;
	background-color: #0033FF;
    border: 4px solid #fff;
    margin: 16px 0;
}

.cta a, .cta a:visited {
    color: #e6e8f5;
  	text-decoration: none;
}

.cta a:hover {
	text-decoration: underline;
}


.highlight {
    border-radius: 4px;
    font-weight: 500;
}

span.highlight {
    padding: 2px;
}

div.highlight {
    padding: 8px;
}

.warning {
    background-color: rgb(255, 228, 160);
}

.small {
    font-size: 0.8em;
}

.sponsor-includes {
    background-color: #ddd;
}

.sponsor-marketing {
    background-color: #b1ecb5;
}

.sponsor-hiring {
    background-color: #e1bae1
}

.sponsor-community {
    background-color: #b3cfff;
}

table {
    width: 100%;
}

table th { 
    text-align:left;
}

tr.sold-out td {
    color: #aaa;
}

tr.on-sale {
    background-color: rgb(255, 228, 160);
}

/* Landing page */

#landing h2 {
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-size: 48px;
    margin: 0 0 32px 0;
}

#landing h3 { 
    font-size: 32px; 
    color: #112378;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
}

#landing h4 {
    font-size: 28px; 
    color: #fff;
    font-weight: 400;
    margin-top: 4px;
}

#landing .cta {
    margin: 32px 0 0 0;
}    

#landing>div  {
    padding: 32px 16px;
}

#hero-logo {
    margin-bottom: 8px;
}

#hero .buy, #hero .cta {
    font-size: 40px;
}

#hero .buy {
    margin-top: 64px;
}

#hero .cta {
	background-color: #112378;
    color: #17C37B;
    border: 4px solid #17C37B;
}

#hero .cta a {
    color: #17C37B;
}


#attend img {
    border: 2px solid #fff;
}

#hero {
    background-color: #17C37B;
}

#workshops, #workshops h2, #coc, #coc h2 {
    background-color: #17C37B;
    color: #fff;
}

#attend, #attend h2, #schedule, #schedule h2 {
    color: #000;
    background-color: #fff;
}

footer {
    color:  #fff;
    background-color: #112378;
}

/* Carousel widget on sponsorship page */

#carousel {
    position:relative;
    height:160px;
    width:300px;
    margin:0 auto;
}

#carousel img {
    position:absolute;
    left:0;
}
  
@keyframes fadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

#carousel img {
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}
  
#carousel img:nth-of-type(1) {
    animation-delay: 12s;
}
#carousel img:nth-of-type(2) {
    animation-delay: 8s;
}
#carousel img:nth-of-type(3) {
    animation-delay: 4s;
}
#carousel img:nth-of-type(4) {
    animation-delay: 0;
}

/*  speaker list components  */

#speaker-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}

#speaker-list .speaker {
	height: 333px;
	width: 250px;
	display:flex;
	flex-direction: column;
	margin-right: 8px;
	margin-bottom: 16px;
}

#speaker-list .speaker a, #speaker-list .speaker img, #speaker-list .speaker .no-image {
	height: 250px;
	width: 250px;
}

#speaker-list .speaker .no-image {
	background-color:#000;
}

#speaker-list .speaker-info {
    flex: 1;
    text-align: left;
	padding: 8px;
	display: flex;
    flex-direction: column;
    color: #112378;
}

#speaker-list .speaker:hover .speaker-info, #speaker-list .speaker:hover .speaker-name, #speaker-list .speaker:hover .speaker-misc {
	color: #0033FF;
}

#speaker-list .speaker-name {
    font-family: mono45-headline, monospace;
    font-weight: 300;
    line-height: 1.4em;
    font-size: 28px;
    margin: 0;
	color: #112378;
	flex-grow: 1
}

#speaker-list .speaker-misc {
    font-size: 16px;
	color: #112378;
}

#topic-list {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
    margin: 8px;
    padding: 8px;
}

.js-topic {
    display: inline-block;
    background-color:#0033FF;
    color: #fff;
    text-decoration: none;
    margin:3px;
    padding:8px;
}

#js-topics-clear {
    background-color:#fff;
    color: #0033FF;
    border: 1px solid #0033FF;
}

.js-topic:hover {
    text-decoration: underline;
}

.topic-selected {
    background-color: #FFD007;
    color: #0033FF;
}

@media only screen and (min-width: 768px) {

    #root {
        display: grid;
        min-height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr auto;
    }

    .narrow {
        margin: 0 auto;
        width: 40%;
    }

    .wide {
        margin: 0 auto;
        width: 70%;
    }

    img#hero-badge {
        width: 392px;
    }

    #page-body, #page-title div {
        width: 50%;
        margin: 0 auto;
    }

    #page {
        margin-bottom: 64px;
    }

    nav {
        display: flex;
        align-items: center;
    }

    /* this class makes me want to puke :( */
    nav .spacer {
        margin-left: 32px;
    }

    .push {
        margin-left: auto;
    }

    table {
        font-size: 1em;
    }

    .cta {
        display: inline-block;
        text-align: left;
    }

    .highlight {
        padding: 4px;
    }

    #carousel {
        height:321px;
        width:600px;
    }

    footer div {
        display: flex;
    }

    #when-where, #stay-connected, #past-events {
        text-align: left;
    }

    #when-where {
        flex: 1;
    }

    footer #stay-connected {
        margin-right: 40px;
    }

    #landing {
        text-align: center;
    }
    
    #landing .container {
        display: flex;
    }

    #landing .left {
        width: 60%;
        margin-right: 16px;
    }

    #landing .right {
        text-align: left;
        flex: 1;
    }

    #hero-images {
        display: flex;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
    }
}